.ShopingCart {
    margin: 0 auto;
}

.no-product {
    margin: 200px auto;
    text-align: center;
}

.cart-table {
    width: 90%;
    margin: 50px auto 100px;
}

.cast-button {

}

.total-price {
    text-align: right;
    margin-right: 5%;
    line-height: 40px;
}

.breadcrumb-custom {
    padding-left: 5% !important;
    color: #78a206 !important;
    text-decoration: none !important;
}
