.ShopingCart {
    width: 90%;
    margin: 0 auto;
}

.no-product {
    margin: 200px auto;
    text-align: center;
}

.cart-table {
    margin-top: 50px;
    margin-bottom: 100px;
}

.cast-button {

}
